<ion-view view-title="About">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-energized text-center">
                <h1>Coffee!</h1>
            </div>
            <div class="item text-center">
                version 0.8<br/><br/>
                designed & developed by<br/>
                the Rockncoder<br/> <br/>
                Built using: <br/>
                JavaScript, AngularJS, Cordova, & Ionic<br/><br/>
                And the following web services:<br/>
                YP.com and Google Maps
            </div>
        </div>
    </ion-content>
</ion-view>
